.main-menu-desktop,
.main-menu-desktop * {
  box-sizing: border-box;
}
.main-menu-desktop {
  background: #001f3f;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.ellipse-12 {
  background: rgba(220, 20, 60, 0.5);
  border-radius: 50%;
  width: 136px;
  height: 136px;
  position: absolute;
  left: 76px;
  top: 931px;
  aspect-ratio: 1;
}
.ellipse-13 {
  background: rgba(220, 20, 60, 0.5);
  border-radius: 50%;
  width: 209px;
  height: 209px;
  position: absolute;
  left: 1711px;
  top: 871px;
  aspect-ratio: 1;
}
.ellipse-14 {
  background: rgba(248, 189, 50, 0.5);
  border-radius: 50%;
  width: 218px;
  height: 218px;
  position: absolute;
  left: 267px;
  top: 826px;
  aspect-ratio: 1;
}
.ellipse-15 {
  background: rgba(248, 189, 50, 0.5);
  border-radius: 50%;
  width: 132px;
  height: 132px;
  position: absolute;
  left: 1204px;
  top: 612px;
  aspect-ratio: 1;
}
.ellipse-16 {
  background: rgba(248, 189, 50, 0.5);
  border-radius: 50%;
  width: 312px;
  height: 312px;
  position: absolute;
  left: 0px;
  top: 59px;
  aspect-ratio: 1;
}
.ellipse-17 {
  background: rgba(220, 20, 60, 0.5);
  border-radius: 50%;
  width: 419px;
  height: 419px;
  position: absolute;
  left: 1045px;
  top: 0px;
  aspect-ratio: 1;
}
.untitled-design-1-2 {
  width: 600.54px;
  height: 277px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 263px;
  object-fit: cover;
  aspect-ratio: 600.54/277;
}
.klik-dimana-saja {
  color: rgba(186, 186, 186, 0.5);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 790px;
}

   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
