.android-compact-18,
.android-compact-18 * {
  box-sizing: border-box;
}
.android-compact-18 {
  background: #001f3f;
  height: 1024px;
  position: relative;
}
.ellipse-54 {
  background: rgba(248, 189, 50, 0.5);
  border-radius: 50%;
  width: 152px;
  height: 152px;
  position: absolute;
  left: 1288px;
  top: 167px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  aspect-ratio: 1;
}
.ellipse-55 {
  background: rgba(220, 20, 60, 0.5);
  border-radius: 50%;
  width: 164px;
  height: 164px;
  position: absolute;
  left: 78px;
  top: 770px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  aspect-ratio: 1;
}
.ellipse-56 {
  background: rgba(248, 189, 50, 0.5);
  border-radius: 50%;
  width: 135px;
  height: 135px;
  position: absolute;
  left: 1095px;
  top: 889px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  aspect-ratio: 1;
}
.ellipse-57 {
  background: rgba(220, 20, 60, 0.5);
  border-radius: 50%;
  width: 107px;
  height: 106px;
  position: absolute;
  left: 50px;
  top: 412px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  aspect-ratio: 107/106;
}
.ellipse-58 {
  background: rgba(220, 20, 60, 0.5);
  border-radius: 50%;
  width: 328px;
  height: 328px;
  position: absolute;
  left: 777px;
  top: 460px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  aspect-ratio: 1;
}
.ellipse-59 {
  background: rgba(248, 189, 50, 0.5);
  border-radius: 50%;
  width: 244px;
  height: 244px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  aspect-ratio: 1;
}
.data-sedang-di-periksa-kamu-akan-mendapatkan-notifkasi-pada-email-anda-apabila-valid-ataupun-tidak {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  left: 508px;
  top: 204px;
  width: 424px;
}
.icon-park-loading-one {
  width: 38px;
  height: 37px;
  position: absolute;
  left: 701px;
  top: 413px;
  overflow: hidden;
  aspect-ratio: 38/37;
}
.group {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
